/* .h1{
    text-align: center;
    font-size: 500px;
    justify-content: center;
    display:block;
} */
h1{
  text-align: center;
  font-size: 3.75rem;
  justify-content: center;
  display:block;
  padding:9.375rem;
}
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
body{
    background-color: #3cecef;
    background-image: linear-gradient(120deg, #3cecef 0%, red  100%);
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
} 
.logolink{
  text-decoration: none;
}
.logo{
  text-align:center;
  justify-content: center;
  color:black;
  margin-top:1rem;
  margin-bottom:1rem; 
  color: red;
  font-size: 35px;
  font-weight: 900;
  font-family:'Times New Roman', Times, serif;
}
.heading{
    text-align:center;
    justify-content: center;
    color:black;
    margin-top:1rem;
    margin-bottom:1rem; 
    /* transform:translateX(-3%); */
}
.payments {
    padding: 1rem;
  }
  .payments li {
    flex: 1;
  }
.form-box{
  height: 3.5rem;
 

}

.form-box input{
  border-radius: .5rem;
  padding: .5% 2.5%;
  font-size: 1rem;
  width:18rem;
  outline:0;
  height: 2.5rem;
  margin-bottom: 1rem;
}
  /* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  } */

  .form{

        width: '100%';
        display: 'flex';
        flex-direction: 'column';
        justify-content: 'space-between';
        align-items: 'center';

  }
  /* .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #ff6f47;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  } */
  /* Arrow */
  /* .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
  } */
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }