h1{
    text-align: center;
    font-size: 3.75rem;
    justify-content: center;
    display:block;
    padding:9.375rem;
}

 body{
    background-color: #d8fbfc;
    background-image: #d8fbfc;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
 }

  a{
      color:blue;
  }
  h2{
      color:black;
  }
 footer{
    font-family: 'Poppins', sans-serif;

 }
 footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #3cecef;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
